@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* COMPONENTS */

.header {
  @apply flex justify-between m-4 hover:cursor-pointer p-4
}

.menu {
  @apply flex flex-col pt-8 pb-4 px-4 text-white bg-zinc-600 h-screen transition-all duration-200 ease-in-out
}

.menu-transicao {
  @apply duration-200 ease-out
}

.botao {
  @apply hover:bg-zinc-500 h-fit  p-1.5 rounded-md cursor-pointer duration-200 ease-in;
}

/* PAGES */
.main-page-dark {
  @apply bg-black text-white flex duration-200 ease-in
}

.main-page-white {
  @apply bg-white text-black flex duration-200 ease-in
}

.menu-page {
  @apply flex 
}

.header-page {
  @apply flex flex-1 h-fit
}